.signup {
  width: 100%;
  height: 100vh;
  display: flex;
}

.signup_right {
  flex: 1;
  background-color: var(--pri-blue);
  position: relative;
}

.signup_left {
  flex: 1;

  position: relative;
}

.signup_left_container {
  background-color: var(--pri-blue);

  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 4rem;
}

.signup_left_container h1 {
  color: white;
  width: 16rem;
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 5rem;
}

.signup_left .img_logo {
  color: white;
  font-size: 6rem;
  padding-top: 12rem;
}

.signup_right_container {
  background-image: url("D:/IMAGE-STORE/front-end/src/Assets/signupbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 80%;

  color: var(--pri-orange);
  position: absolute;
  left: 0;
  top: 4rem;
  border-radius: 0rem 2rem 2rem 0rem;
  display: flex;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.signup_right_container .signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signup_form .invalid_input {
  color: yellow;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -1rem;
  margin-bottom: -1rem;
  text-align: start;

  width: 75%;
}

.signup_right_container .social_links button {
  border: none;
  color: var(--pri-orange);
  background-color: white;
  outline: none;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  box-shadow: 0 0 0 1px whitesmoke;
  margin: auto 0.5rem;
  cursor: pointer;
}

.signup_form input {
  width: 75%;
  height: 3rem;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding-left: 1rem;
}

.signup_form button {
  width: 37%;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-weight: bold;
  color: var(--pri-black);
  cursor: pointer;
}

.signup_right a {
  text-decoration: none;
  color: white;
}
.signup_right p {
  color: wheat;
  font-weight: bold;
}

@media only screen and (max-width: 360px){
  .signup {
    width: 360px;
    display: flex;
    flex-direction: column;
  }
  .signup_right {
   width: 360px;
   position: relative;
   background-color: transparent;
   z-index: 4;

  }
  .signup_left{
    width: 100%;
    height: 280px;
    bottom: 0;
   
  }
  .signup_left_container{
    padding: 0;
    width: 360px;
    height: 280px;
    top: 0;
   
  }
  .signup_right_container{
    padding: 0;
    width: 360px;
    height: 500px;
    top: -10.5rem;
    border-radius: 2rem 0rem 0rem 0rem;
  }
  .signup .img_logo {
    color: white;
    font-size: 4rem;
    padding-top: 0rem;
   
  }
 
}
